img{
    height: 20px;
    border-radius: 50%;
}

.logo{
    text-align:start;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0%;
    padding: 0%;
}

a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.menu{
    text-align: right;
    font-size: 12px;
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(19, 2, 4);
    color: white;
    padding-top: 10px;
}

.home{
    color: black;
    background-color: white; 
    border-radius: 10%;  
}

.main{
    margin: 0%;
    background-image: url(./img/apple-img2.jpg);
    height: 4cm;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align:middle;
}

.heading{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 100px;
}